{%extends "templates/base.njk"%}

{%block content%}
<section class="interactive">
  <div class="interactive__info">
    <p>
      <em>Pinch or scroll to zoom. Click and drag to pan. Hover or tap on a person or link for more details.</em>
    </p>
  </div>
  <div class="interactive__legend">
    <p><span>→</span> Flow of money<sup>*</sup></p>
    <p><img src="../img/GenderlessIcon_Red.jpg" alt=""> Connected to Chinese Communist Party<sup>*</sup></p>
  </div>
  <div class="tooltip">
    <div class="tooltip__name"></div>
    <div class="tooltip__about"></div>
    <div class="tooltip__close">Close</div>
  </div>
  <div class="interactive__graphic">
    <svg class="svg"></svg>
  </div>
</section>
<script src="../js/main.js"></script>
{% endblock %}
