{%extends "templates/base.njk"%}

{%block content%}
<section class="interactive">
  <div class="intractive__info">
    <h3>Who has gained access to the President through Yang?</h3>
    <p>This network graph is based on exclusive Miami Herald reporting and depicts who has gained access to Donald Trump through Yang and how their
    presence at Yang events has financially benefited the president.</p>
    <p><i>Pinch or scroll to zoom. Click and drag to pan. Hover or tap on a person or link for more details.</i></p>
  </div>
  <div class="interactive__graphic">

    <div class="interactive__legend">
      <p><span>→</span> = Flow of money</p>
      <p><img src="../img/GenderlessIcon_Red.jpg" alt="">= Connected to Chinese Communist Party<sup>*</sup></p>
    </div>
    <svg class="svg"></svg>
  </div>
  <div class="tooltip">
    <div class="tooltip__name"></div>
    <div class="tooltip__about"></div>
  </div>
</section>
<script src="../js/main.js"></script>
{% endblock %}
