<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Explore Trump's Connections</title>
    <link rel="stylesheet" href="https://media.miamiherald.com/static/media/projects/fonts/fonts.css" crossorigin=""/>
    <link rel="stylesheet" href="../../src/scss/main.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
