* {
  box-sizing: border-box;
  font-family: 'McClatchy Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  margin: 0;
}

h3 {
  font: bold 1.4em 'McClatchy Sans', serif;
  margin: 15px 0;
  font-weight: 500;
}

p {
  font-size: 15px;
  line-height: 1.4em;
}

.img-group {
  box-sizing: content-box;
  cursor: pointer;
}

.link-arrow {
  text-anchor: middle;
  font: 24px 'Lucida Grande', sans-serif;
  user-select: none;
}

.interactive {
  max-width: 1200px;
  margin: 0 auto;
}

.interactive__info {
  max-width: 720px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.interactive__graphic {
  margin: 0 auto;
  position: relative;
  cursor: move;
}

.interactive__legend {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  p {
    margin: 5px 15px;
    font-size: 14px;
    color: #707070;
  }
  span {
    font-size: 2em;
    vertical-align: middle;
    line-height: 1;
    font-family: sans-serif;
    color: #222;
  }
  img {
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    padding: 2.5px;
    padding-left: 3px;
    background: #000;
  }
}

.tooltip {
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.9);
  color: #222;
  display: block;
  border: 1px solid black;
  font-size: 14px;
  max-width: 320px;
  padding: 0.2rem 0.4rem;
  position: absolute;
  z-index: 300;
  visibility: hidden;
}

.tooltip__name {
  font-weight: bold;
}

.tooltip__close {
  text-decoration: underline;
  margin-top: 5px;
}

@media (max-width: 600px) {
  .interactive__legend {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tooltip {
    top: 10% !important;
    left: 1.5% !important;
    right: 1.5%;
    max-width: none;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.95);;
  }
}

@media (min-width: 601px) {
  .tooltip__close {
    display: none;
  }
}
